<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Propostas de Desenho</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/sidebar"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Listar Propostas de Desenho</h2>
        </div>

        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Funcionário</th>
                    <th>Tatuagem (descrição)</th>
                    <th>Orçamento (R$)</th>
                    <th>Desenho</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="proposta, i : ${propostaDesenhos}">
                    <td th:text="${proposta.propostaOrcamento.propostaIdeia.getTatuador().getPerson().getName()}"> </td>
                    <td th:text="${proposta.propostaOrcamento.propostaIdeia.descricao}"></td>
                    <td th:text="${proposta.propostaOrcamento.orcamento}"></td>
                    <td>
                        <img th:src="'data:image/jpeg;charset=utf-8;base64,' + ${imagensBase64[i.index]}" alt="Imagem">
                    </td>
                    <td th:text="${proposta.statusAprovacao.getDenominacao()}"></td>
                    <td>
                        <a th:href="@{/proposta-desenho/aprovar/{id}(id=${proposta.id})}" class="btn btn-success">Aprovar</a>
                        <a th:href="@{/proposta-desenho/recusar/{id}(id=${proposta.id})}" class="btn btn-danger">Recusar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>