<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Funcionários</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/sidebar"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Listar Funcionários</h2>
        </div>

        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Sobre</th>
                        <th>Estúdio</th>
                        <th>Estilos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="funcionario : ${funcionarioList}">
                        <td th:text="${funcionario.user.person.name}"></td>
                        <td th:text="${funcionario.aboutMe}"></td>
                        <td th:text="${funcionario.estudio}"></td>
                        <td>
                            <span th:each="style : ${funcionario.styles}" th:text="${style.description} + '; '"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>