<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proposta de Tatuagem</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/sidebar"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Enviar Proposta de tatuagem</h2>
<!--            <form th:action="@{/proposta-tatuagem/form}" method="post" th:object="${newProposta}">-->
<!--                <button type="submit" class="btn btn-success">Submit</button>-->
<!--            </form>-->
        </div>
    </div>
</div>

</body>
</html>