<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<link rel="stylesheet" th:href="@{/css/sidebar.css}" type="text/css">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Tink Time</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <!-- Funções para os usuários -->
      <li class="nav-item">
        <a class="nav-link" th:href="@{/index}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/funcionario/list}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CLIENT')">Listar Funcionários</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/proposta-tatuagem/form}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CLIENT')">Enviar Propostas de Tatuagem</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/proposta-tatuagem/list}" sec:authorize="hasAnyRole('ROLE_CLIENT')">Verificar Propostas de Tatuagem</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/proposta-orcamento/list}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CLIENT')">Verificar Propostas de Orçamento</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/proposta-desenho/list}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CLIENT')">Verificar Propostas de desenho</a>
      </li>

      <!-- Funções para os funcionários -->
      <li class="nav-item">
        <a class="nav-link" th:href="@{/proposta-tatuagem/list}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE')">Verificar Propostas de Tatuagem</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/proposta-orcamento/form}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE')">Enviar Propostas de Orçamento</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/proposta-desenho/form}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_EMPLOYEE')">Enviar Propostas de desenho</a>
      <li>
        <a class="nav-link" th:href="@{/funcionario/profile}" sec:authorize="hasAnyRole('ROLE_EMPLOYEE')">Sobre mim</a>
      </li>
      <li>
        <a class="nav-link" th:href="@{/funcionario/agenda}" sec:authorize="hasAnyRole('ROLE_EMPLOYEE')">Agenda</a>
      </li>
      <li>
        <a class="nav-link" th:href="@{/user/logout}">Log out</a>
      </li>
    </ul>
  </div>
</nav>
