<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div th:replace="fragments/sidebar"></div>

<div class="container">
    <div class="row mt-4">
        <div class="col-md-8">
            <h1>Bem-vindo</h1>
        </div>
        <div th:if="${clientSuggestion != null && !clientSuggestion.isEmpty()}" class="col-md-8 mt-3">
            <div class="card-header">
                <h5>Novos tatuadores próximos à você:</h5>
            </div>
            <div th:each="suggestion : ${clientSuggestion}" class="card">
                <div class="card-body">
                    <span>[[${suggestion.user.person.name}]]</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts JavaScript do Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
